.body{
    background-color:rgb(52, 52, 54);
}
.heading{
    color:whitesmoke;
     max-width: 1400px;
     padding-top: 10px;
}
.paragraph{
    color:whitesmoke;
     max-width: 1400px;
     padding-top: 10px;
}